:root {
    --theme-bg: url(../assets/bg-mobile.jpg);
    --text-color: #FFF;
    --surface-color: rgba(255, 255, 255, 0.1);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --highlight-color: rgba(255, 255, 255, 0.05);
    --switch-bg: url(../assets/moon.svg)
}

.light {
    --theme-bg: url(../assets/light-bg.jpg  );
    --text-color: #000;
    --surface-color: rgba(0, 0, 0, 0.05);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url(../assets/sun.svg)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 'border-box';
}

body {
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--theme-bg);
    background-position: top center;
    color: var(--text-color);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.6rem;
}


html {
    font-size: 62.5%;
}



button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    width: 100%;
    max-width: 36rem;
    margin: auto;

    padding: 0 2.4rem;
}

.imgContainer {
    text-align: center;
    padding: 2.4rem;
    margin-top: 5.6rem;
}

.imgContainer img {
    width: 11.2rem;
    border-radius: 50%;
    margin: 0 auto;
}

.imgContainer p {
    margin-top: 0.8rem;
    line-height: 2.4rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
    gap: 1.6rem;
}

.list li {
    width: 100%;
    -webkit-backdrop-filter: blur(4px);
    text-align: center;
}


.list a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 1.6rem 2.4rem;
    border-radius: 8px;

    border: 2px solid var(--stroke-color);
    background: var(--surface-color);
    transition: all 200ms;
}


.list li a:hover {
    border: 2px solid var(--text-color);
    background: var(--highlight-color);
}


.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 0;

}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    border-radius: 50%;

    transition: background 0.6s;
}

.social-links a ion-icon {
    width: 2.4rem;
    height: 2.4rem;
}


.social-links a:hover {
    background: var(--highlight-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2.4rem 0;
}


.footer p {
    font-weight: 400;
    font-size: 1.4rem;
}

.footer a {
    text-decoration: underline;
}


.switch {
    margin: 2.4rem auto;
    position: relative;
    width: 64px;
}


.switch-container {
    position: relative;
    background-color: yellow;
    padding: 16px;

}

.switch button {
    all: unset;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    background-image: var(--switch-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    transition: background 0.3s;


    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.light .switch button {
    left: initial;
    right: 0;
}

.track {
    width: 6.4rem;
    height: 2.4rem;
    background-color: red;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
}